@charset "UTF-8";

// 背景設定
// ---------------------------------------------

body {
  background-image: url(/img/background.png);
  color: #333333;
  background-attachment: fixed;
  z-index: 1;
  font-family: "Shippori Mincho", serif;
  transition: 0.7s;
}

/* .bg01 {
  background-image: url(/img/background.png);
}
.bg02 {
  background-image: url(/img/background.png);
}
.bg03 {
  background-image: url(/img/background.png);
}
.bg04 {
  background-image: url(/img/background.png);
}
 */

.wrapper {
  display: flex;
  justify-content: space-between;
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 0;
  .nav_wrapper_left {
    position: relative;
    width: calc((100% - 700px) / 2);

    .nav_wrapper_left_content {
      position: absolute;
      top: 20%;
      left: 50%;
      transform: translate(-50%, -50%);

      .nav_shop_name {
        font-family: "Nanum Gothic", sans-serif;
        font-size: 20px;
        letter-spacing: 0.4rem;
        @media screen and (max-width: 1024px) {
          font-size: 14px;
        }
        @media screen and (max-width: 801px) {
          display: none;
        }

        .nav_logo {
          background-image: url("img/hebiko_logo.png");
          background-repeat: no-repeat;
          background-size: contain;
          width: 100%;
          height: 137px;
          @media screen and (max-width: 801px) {
            display: none;
          }
        }
      }

      p {
        text-align: justify;
      }
    }
  }
}

.nav_wrapper_right {
  position: relative;
  width: calc((100% - 700px) / 2);

  .nav_wrapper_right_content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    height: 100%;

    .nav_list {
      font-size: 18px;
      transform: translateY(-50%);
      list-style: none;
      padding: 0;
      top: 50%;
      position: relative;
      li {
        margin-bottom: 30px;

        a {
          display: inline-block;
          color: inherit;
          text-decoration: none;
        }
      }

      @media screen and (max-width: 700px) {
        display: none;
      }
      @media screen and (max-width: 1024px) {
        font-size: 14px;
      }
    }
  }
}

.current {
  background-color: #fa8072 !important;
  a {
    color: #fff !important;
  }
}

// コンテンツ
// ---------------------------------------------

.article {
  max-width: 700px;
  margin: 0 auto;
  position: relative;
  @media screen and (max-width: 670px) {
    max-width: none;
    width: 100%;
  }

  .section_header {
    padding: 20px;
    @media screen and (min-width: 500px) {
      padding: 20px 125px;
    }
    .section_header_container {
      padding: 45px 10px 0 10px;
      width: 85%;
      position: fixed;
      display: flex;
      top: 0;
      align-items: center;

      #hamburger {
        position: relative;
        display: block;
        width: 30px;
        height: 25px;
        margin: 0 0 0 auto;
        span {
          position: absolute;
          top: 50%;
          left: 0;
          display: block;
          width: 100%;
          height: 2px;
          background-color: #043b5c;
          transform: translateY(-50%);
        }
      }
      #hamburger::before {
        content: "";
        display: block;
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 2px;
        background-color: #043b5c;
      }
      #hamburger::after {
        content: "";
        display: block;
        position: absolute;
        bottom: 0;
        left: 0;
        width: 100%;
        height: 2px;
        background-color: #043b5c;
      }
    }
    @media screen and (min-width: 700px) {
      display: none;
    }
  }

  .section_flame {
    padding: 50px 30px;
    @media screen and (min-width: 500px) {
      padding: 60px 125px;
    }
    .section_container {
      text-align: center;
      width: 100%;
    }
    .section_container2 {
      text-align: center;
      width: 100%;
      margin-top: 50px;
      width: fit-content;
      margin: 50px auto 0 auto;

      p:nth-child(1) {
        margin: 0;
        font-size: 13px;
        text-align: left;
      }
      p:nth-child(2) {
        margin: 0 auto;
        font-size: 24px;
        padding: 11px;
        width: fit-content;
        letter-spacing: 0.3rem;
      }
    }
  }

  .section_top {
    .section_top_image {
      background-image: url("img/top_background.jpg");
      background-repeat: no-repeat;
      background-size: contain;
      width: 100%;
      height: 100vh;
      position: relative;
    }
    .section_top_logo {
      background-image: url("img/hebiko_logo.png");
      background-repeat: no-repeat;
      background-size: cover;
      position: absolute;
      width: 30%;
      height: 111px;
      top: 95px;
      left: 15%;
    }
  }

  .section_menu {
    .menu_box {
      justify-content: space-between;
      margin: 0 0 40px 7%;
      @media screen and (min-width: 700px) {
        margin: 0 0 40px 2%;
      }
      .menu_box1 {
        display: flex;
        margin-top: 40px;
        border-top: 1px solid #fff;

        .menu_title {
          height: fit-content;
          margin: 0 7px;
          width: 5vw;
          @media screen and (min-width: 700px) {
            margin: 0 40px;
          }
        }
        .menu_child {
          width: 64vw;
          margin-left: auto;

          .menu_img {
            width: 100%;
            height: 50px;
          }
          .menu_name {
            width: 100%;
            font-size: 15px;
            margin: 0;
            p {
              margin: 0;
            }
          }
          .menu_price {
            width: 100%;
            font-size: 13px;
            margin: 0;
            p {
              margin: 0;
            }
          }
        }
      }
    }
  }
  .section_instagram {
    height: 200px;
  }
  .section_shop_info {
    .shop_info_detail {
      list-style: none;
      padding: 0;

      li {
        border-top: 1px solid #fff;
        margin: 1rem 0;
        .shop_info_title {
          font-size: 14px;
          font-weight: bold;
          display: block;
          margin-top: 1rem;
        }
        .shop_info_child {
          font-size: 13px;
          display: block;
          margin: 0.5rem 0;
        }
      }
    }

    .iframe_wrap {
      position: relative;
      width: 100%;
      padding-top: 75%;
      margin-top: 3rem;
      margin-bottom: 3rem;
    }
    .googleMap {
      border: 0;
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
    }
  }
  .section_footer {
    padding: 14px;
    height: 22px;
    p {
      width: max-content;
      margin: 0 auto;
      font-size: 13px;
      color: #1b1b1b;
    }
  }
}

#sec01 {
  //background-image: url(/img/background.png);
  background-color: rgba(255, 255, 255, 0.3);
}
#sec02 {
  //background-image: url(/img/background.png);
  background-color: rgba(197, 163, 94, 0.05);
}
#sec03 {
  //background-image: url(/img/background.png);
  background-color: rgba(152, 125, 154, 0.05);
}
#sec04 {
  //background-image: url(/img/background.png);
  background-color: rgba(38, 132, 153, 0.05);
}
#sec05 {
  //background-image: url(/img/background.png);
  background-color: rgba(0, 0, 0, 0.05);
}
