@charset "UTF-8";

// 背景設定
// ---------------------------------------------

body {
  background-image: url("/img/background.png");
  background-size: cover;
  color: #333333;
  background-attachment: fixed;
  z-index: 1;
  font-family: "Shippori Mincho", serif;
  font-size: 13px;
  transition: 0.7s;
  letter-spacing: 0.09rem;
}

.wrapper {
  display: flex;
  justify-content: space-between;
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 0;
  .nav_wrapper_left {
    position: relative;
    width: calc((100% - 700px) / 2);

    .nav_wrapper_left_content {
      position: absolute;
      top: 20%;
      left: 50%;
      transform: translate(-50%, -50%);

      .nav_shop_name {
        font-family: "Nanum Gothic", sans-serif;
        font-size: 20px;
        letter-spacing: 0.4rem;
        @media screen and (max-width: 1024px) {
          font-size: 14px;
        }
        @media screen and (max-width: 801px) {
          display: none;
        }

        .nav_logo {
          background-image: url("img/hebiko_logo.png");
          background-repeat: no-repeat;
          background-size: contain;
          width: 100%;
          height: 137px;
          @media screen and (max-width: 801px) {
            display: none;
          }
        }
      }

      p {
        text-align: justify;
      }
    }
  }
}

.nav_wrapper_right {
  position: relative;
  width: calc((100% - 700px) / 2);

  .nav_wrapper_right_content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    height: 100%;

    .nav_list {
      font-size: 18px;
      transform: translateY(-50%);
      list-style: none;
      padding: 0;
      top: 50%;
      position: relative;
      li {
        margin-bottom: 30px;

        a {
          display: inline-block;
          color: inherit;
          text-decoration: none;
        }
      }

      @media screen and (max-width: 700px) {
        display: none;
      }
      @media screen and (max-width: 1024px) {
        font-size: 14px;
      }
    }
  }
}

.current {
  background-color: #fa8072 !important;
  a {
    color: #fff !important;
  }
}
.article_header {
  z-index: 6;
  pointer-events: none;
  max-width: 700px;
  margin: 0 auto;
  position: relative;
}
.article {
  z-index: 5;
  max-width: 700px;
  margin: 0 auto;
  position: relative;
  @media screen and (max-width: 670px) {
    max-width: none;
    width: 100%;
  }

  .section_header {
    @media screen and (min-width: 700px) {
      display: none;
    }
    .section_header_container {
      position: fixed;
      top: 15px;
      right: 15px;
    }
  }

  @media screen and (min-width: 700px) {
    .sp-menu {
      display: none;
    }
  }

  .sp-menu__content {
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 100%;
    z-index: 90;
    background-color: #b3d5ed;
    transition: all 0.5s;
  }
  .sp-menu__content_isActive {
    left: 100%;
  }
  .head {
    display: flex;
  }
  .main-menu {
    margin: 0 auto;
    display: flex;
    width: 1280px;
  }
  .sp-menu__box {
    position: fixed;
    top: 13px;
    right: 13px;
    display: flex;
    height: 50px;
    width: 50px;
    border-radius: 50px;
    justify-content: center;
    align-items: center;
    z-index: 100;
    background: #ddc4a6;
  }
  .sp-menu__box span,
  .sp-menu__box span:before,
  .sp-menu__box span:after {
    content: "";
    display: block;
    height: 3px;
    width: 25px;
    border-radius: 3px;
    background: #ffffff;
    position: absolute;
  }
  .sp-menu__box span:before {
    bottom: 8px;
  }
  .sp-menu__box span:after {
    top: 8px;
  }
  #sp-menu__check {
    display: none;
  }
  #sp-menu__check:checked ~ .sp-menu__box span {
    background: rgba(255, 255, 255, 0);
  }
  #sp-menu__check:checked ~ .sp-menu__box span::before {
    bottom: 0;
    transform: rotate(45deg);
  }
  #sp-menu__check:checked ~ .sp-menu__box span::after {
    top: 0;
    transform: rotate(-45deg);
  }
  .sp-menu__list {
    padding: 70px 10px 0;
  }
  .sp-menu__item {
    border-bottom: solid 1px #ffffff;
    list-style: none;
    cursor: pointer;
    &:hover {
      background-color: #c8e5fa;
    }
  }
  .sp-menu__link {
    display: block;
    width: 100%;
    font-size: 15px;
    box-sizing: border-box;
    color: #ffffff;
    text-decoration: none;
    padding: 9px 15px 10px 0;
  }
  .nav_footer {
    margin: 100px auto;
    position: relative;
    text-align: center;
    img {
      width: 60%;
    }
    .nav_footer_sns {
      width: 41%;
      margin: 0 auto;
      justify-content: space-between;
      display: flex;
      align-items: center;
      a {
        text-decoration: none;
        color: black;
      }
    }
  }

  .section_flame {
    padding: 30px 30px;
    @media screen and (min-width: 500px) {
      padding: 60px 125px;
    }
  }

  .section_top {
    @media screen and (min-width: 700px) {
      width: 450px;
    }

    .section_top_image {
      background-repeat: no-repeat;
      background-size: cover;
      width: 100%;
      height: 65vh;
      position: relative;
      transition: opacity 3s ease-in-out;
      animation-duration: 2s;
      @media screen and (min-width: 700px) {
        height: 80vh;
      }
    }
    .section_top_image.fade-in {
      animation-name: fadeIn;
    }

    .section_top_image.fade-out {
      animation-name: fadeOut;
    }

    @keyframes fadeIn {
      0% {
        opacity: 0;
      }
      100% {
        opacity: 1;
      }
    }

    @keyframes fadeOut {
      0% {
        opacity: 1;
      }
      100% {
        opacity: 0;
      }
    }
    .section_top_logo {
      background-image: url("img/hebiko_logo.png");
      background-repeat: no-repeat;
      background-size: cover;
      position: absolute;
      width: 36%;
      height: 138px;
      top: 45px;
      left: 30%;

      @media screen and (min-width: 670px) {
        left: 40%;
        width: 20%;
        top: 95px;
      }
    }
    .section_top_text {
      img {
        width: 60%;
      }
      margin: 50px auto;
      position: relative;
      text-align: center;
      p {
        font-size: 13px;
        font-weight: bold;
        line-height: 1.6rem;
      }
    }
    .section_container_tel {
      text-align: center;
      margin-top: 50px;
      margin: 0 30px;

      p:nth-child(1) {
        margin: 0;
        font-size: 13px;
        text-align: left;
      }
      p:nth-child(2) {
        margin: 6px auto;
        font-size: 23px;
        font-family: "Shippori Mincho", serif;
        font-weight: bold;
        letter-spacing: 0.3rem;
        border-top: 1px solid #dfdfdf;
        a {
          text-decoration: none;
          color: #000;
        }
      }
      p:nth-child(3) {
        font-size: 13px;
      }
    }
    .section_container_delivery {
      text-align: center;
      margin-top: 50px;
      margin: 50px 30px 0 30px;
      p:nth-child(1) {
        margin: 0;
        font-size: 13px;
        text-align: left;
      }
      div {
        height: 70px;
        margin: 6px auto;
        border-top: 1px solid #dfdfdf;
      }
    }
    .section_container_payment {
      text-align: center;
      margin-top: 50px;
      margin: 50px 30px 0 30px;

      p:nth-child(1) {
        margin: 0;
        font-size: 13px;
        text-align: left;
      }
      div {
        margin: 6px auto;
        border-top: 1px solid #dfdfdf;
        background-color: white;
        align-items: center;
        height: 70px;
        display: flex;
        justify-content: space-between;
        img {
          width: 28%;
          margin: 0 5px;
        }
      }
    }
  }

  .section_menu {
    .menu_box {
      justify-content: space-between;
      margin: 0 0 40px 4%;
      @media screen and (min-width: 700px) {
        margin: 0 0 40px 2%;
      }
      .menu_box1 {
        display: flex;
        margin-top: 40px;
        border-top: 1px solid #fff;

        .menu_title {
          height: fit-content;
          margin: 0 7px;
          width: 5vw;
          font-size: 16px;
          font-family: "游ゴシック Medium", "Yu Gothic Medium",
            "Shippori Mincho", serif;
          @media screen and (min-width: 700px) {
            margin: 0 40px;
          }
        }
        .menu_child {
          width: 64vw;
          margin-left: auto;

          .menu_img {
            width: 100%;
            height: 50px;
          }
          .menu_name {
            width: 100%;
            font-size: 15px;
            margin: 0;
            p {
              margin: 0;
            }
          }
          .menu_price {
            width: 100%;
            font-size: 13px;
            margin: 0;
            p {
              margin: 0;
            }
          }
        }
      }
    }
  }
  .section_instagram {
    height: 200px;
  }

  .section_news_title {
    width: 90%;
    margin: 0 auto;
    border-bottom: 1px solid #877a7a;
    cursor: pointer;
    line-height: 2rem;
    &:hover {
      background-color: #e7f3f7;
    }
  }
  .modal {
    width: 90%;
    margin: 0px auto 30px;
    animation: fadeIn 0.5s ease-out 0s 1 normal backwards;

    @keyframes fadeIn {
      from {
        opacity: 0;
        transform: translateY(-2px);
      }
      to {
        opacity: 1;
        transform: translateY(0);
      }
    }

    .modal-content {
      background-color: #fff;

      p {
        margin: 0;
        padding: 20px 5px;

        img {
          width: 80%;
          margin: 0 auto;
          display: block;
        }
      }
    }
  }

  .section_shop_info {
    .shop_info_detail {
      list-style: none;
      padding: 0;

      li {
        border-top: 1px solid #fff;
        margin: 1rem 0;
        .shop_info_title {
          font-size: 14px;
          font-weight: bold;
          display: block;
          margin-top: 1rem;
        }
        .shop_info_child {
          font-size: 13px;
          display: block;
          margin: 0.5rem 0;
          .shop_info_child_sns {
            border-bottom: 3px solid #fff;
            text-decoration: none;
            color: black;
            display: flex;
            align-items: center;
            width: fit-content;
          }
          .shop_info_child_tel {
            text-decoration: none;
            color: black;
          }
        }
      }
    }

    .iframe_wrap {
      position: relative;
      width: 100%;
      padding-top: 75%;
      margin-top: 3rem;
      margin-bottom: 3rem;
    }
    .googleMap {
      border: 0;
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
    }
  }
  .section_footer {
    padding: 14px;
    height: 22px;
    p {
      width: max-content;
      margin: 0 auto;
      font-size: 13px;
      color: #1b1b1b;
    }
  }
}

#sec01 {
  //background-image: url(/img/background.png);
  background-color: rgba(255, 255, 255, 0.3);
}
#sec02 {
  //background-image: url(/img/background.png);
  background-color: rgba(197, 163, 94, 0.05);
}
#sec03 {
  //background-image: url(/img/background.png);
  background-color: rgba(152, 125, 154, 0.05);
}
#sec04 {
  //background-image: url(/img/background.png);
  background-color: rgba(38, 132, 153, 0.05);
}
#sec05 {
  //background-image: url(/img/background.png);
  background-color: rgba(0, 0, 0, 0.05);
}
